.left {
	float: left;
	display: inline-block;
}

.center {
	margin: 0 auto;
	display: inline-block;
}

.right {
	float: right;
	display: inline-block;
}

img {
	max-width: 100%;
}

#Shop h1, #Mission h1, #About h1, #PackMembers h1, #Reviews h1, #FAQ h1, #Contact h1 {
	text-align: center;
}

div.section {
	margin: 5% 20%;
	text-align: center;
}