
div.product-wrapper {
	margin-left: 200px;
	margin-right: 200px;

	div.product-card {
		width: 29%;
		display: inline-block;
		margin: 2%;
		border: solid thin black;
		text-align: center;

		h1 {
			margin: 12px !important;
		}
	}
}