div.side-nav {
	width: 150px;
	display: inline-block;
	position: absolute;
	top: 180px;

	div.left-box {
		background-color: #1E1317;
		width: 30px;
		height: 577px;

		-webkit-transition: height 0.5s;
		transition: height 0.5s;
	}

	div.right-box {
		position: absolute;
		top: 0;
	}

	a {
		text-align: center;
		background: #1E1317;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		display: block;
		width: 120px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 25px;

		-webkit-transition: margin-bottom 0.5s;
		transition: margin-bottom 0.5s;

		padding-left: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: #fff; 
		
	}

	a:last-of-type {
		margin-bottom: 0;
	}

	a.active, a:hover {
		background: #fff;
		color: #1E1317;
		border: solid thin #1E1317;
	}
}

div.side-nav.fixed {
	position: fixed;
	top: 50px;

	div.left-box {
		height: 450px;
	}

	a {
		margin-bottom: 8px;
	}
}

div#About div.side-nav, div#Reviews div.side-nav, div#PackMembers div.side-nav, div#FAQ div.side-nav, div#Shop div.side-nav, div#Mission div.side-nav, div#Contact div.side-nav  {
	top: 100px;

	div.left-box {
		height: 577px;

		-webkit-transition: height 0.5s;
		transition: height 0.5s;
	}

	a {
		margin-bottom: 25px;

		-webkit-transition: margin-bottom 0.5s;
		transition: margin-bottom 0.5s;
	}
}

div#About div.side-nav.fixed,
div#Reviews div.side-nav.fixed,
div#PackMembers div.side-nav.fixed,
div#FAQ div.side-nav.fixed,
div#Shop div.side-nav.fixed,
div#Mission div.side-nav.fixed,
div#Contact div.side-nav.fixed  {
	top: 52px;

	div.left-box {
		height: 450px;
	}

	a {
		margin-bottom: 8px;
	}
}