div.testimonies {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	div.testimony {
		border: solid thin #000;
		width: 20%;

		div.header {
			border-bottom: solid thin #000;
		}

		p, h3 {
			margin: 6px;
		}
	}
}